/* Main.css */

html {
	/* 
		Sets up the CSS to allow full height sections/divs
		From: http://stackoverflow.com/questions/712689/css-div-stretch-100-page-height	
	*/
	height: 100%;
	position: relative;
}

body {
  font-family: 'Khula', sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #ebc3b3;

  height: 100% /* Needed for full height sections/divs */
}

a{
	display: inline-block;
	text-decoration: none;
	text-transform: lowercase;
	color: #fff;
	border-bottom: 1.8px solid;
	margin: 0;
}

a:hover{
	opacity: 0.4;
}


h1{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 3.3rem;
	color: #fff;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	margin:0rem;
}
	

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: #fff;
	text-transform:lowercase;
}



/* Page structure */



#hero {
	width: 100%;
	height: 100%;	
	text-align: center;
}

.hero-wrapper {
	/* 
		Vertical Center Align Helper
		http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ 
	*/
 	position: relative;
 	top: 45%;
 	transform: translateY(-45%);	
}

/* Nav */
nav {
	background: #d8d8d8;
	color: white;
}

	nav a{
		font-size: 0.7em;
		font-weight: 600;
		color: #fff;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	nav ul {
		list-style: none;
		margin: 0;
		padding: 10px 10px;
	}
	
	nav li {
		display: inline-block;
		padding: 0 20px 0 0;
	}
	
	nav a, nav a:visited {
		color: white;
	}
	
/* Current/Upcoming Popups */

#current-popups .col-4of12, #upcoming-popups .col-4of12 {
	position: relative;
}

#current-popups img, #upcoming-popups img {
	max-width: 100%;
    height: auto;
    
    /* need to fix this to get rid of white bar below each row... */
}

#about, #contact {
	width: 100%;
	text-align: center;
	padding: 80px 0;
}
#about-us .col-6of12 .about-content{
	padding: 0 0 20px 0;
}


.popup-content-wrapper {
	position: absolute;
	top: 0;
	left: 0;
 	
 	height: 100%;
 	width: 100%;
 	margin: 0 auto;
 	
 	text-align: center;
}

#upcoming-popups .popup-content-wrapper {
	/* Style the upcoming popups with an overlay */
	background:  rgba(255,255,255,0.5);
	}

.popup-vertical-align {
	/* Same as hero-wrapper but modified */
 	position: relative;
 	top: 40%;
 	transform: translateY(-40%);	
}

.title{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.0rem;
	color: #fff;
	letter-spacing: 0.08em;
	line-height:1em;
	text-transform: lowercase;
	margin: 0rem;
}

.dates{
	font-size: 1em;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
}

.category{
	margin-top: 0.8em;
	max-width: 20em;
}

}

