html {
	/* 
		Sets up the CSS to allow full height sections/divs
		From: http://stackoverflow.com/questions/712689/css-div-stretch-100-page-height	
	*/
	height: 100%;
	position: relative;
}

body{
	font-family: 'Khula', sans-serif;
	font-weight: normal;
	font-size: 13px;
	letter-spacing: 0.1em;
	color: #fff;
	background-color: #ebc3b3;
	/* Need for full height sections + divs */
	height: 100%; 
	/*overflow: auto;*/
	margin: 0;
	line-height: 1em;
}


h1{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 3.3rem;
	color: #fff;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	margin:0rem;
	line-height: 0.9em;
}


h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: #fff;
	text-transform:lowercase;
	line-height: 0.9em;
}


h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.0em;
	font-weight: 400;
	letter-spacing: 0.15em;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.2em;
	

}

h3 a {
	padding-bottom: 0.3em;
	text-transform: none;
}


h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	font-weight: 400;
	letter-spacing: 0.09em;
	line-height: 1em;
	color: #fff;
	text-transform:lowercase;
}

h5 { 
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8em;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: #fff;
}
p{
	line-height: 1.5em;
}
a{
	text-decoration: none;
	text-transform: lowercase;
	color: #fff;
	border-bottom: 1.9px solid;
	margin: 0;
	-o-transition: 0.4s;
	-ms-transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;	

}


a:hover{
	opacity: 0.4;
}


button, input[type="submit"] {
	/* reset styles */
	border-color: white;
	border-style: solid;
	background: none;
	margin: 0;
	padding: 5px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 1.0em;
	font-weight: 400;
	letter-spacing: 0.15em;
	color: #fff;
	text-transform: uppercase;
} 


/* hover changes bkg color
div.col-4of12 :hover{
	background-color: #000;
}*/



/* Hero page */
#hero{
	background-image: url("img/iloveugly2.jpg");
	width: 100%;
	height: 100%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}


.logo{
	background-image: url("img/logo.png");
	position: relative;
	display: inline-block;
	width: 500px;
	height: 136px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#hero a{
	border-bottom: 3px solid;
}


.hero-wrapper{
	/* 
		Vertical Center Align Helper
		http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ 
	*/
	position: relative;
	top: 45%;
	transform: translateY(-45%);	

}

a.splash-arrow {	
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -25px;
	padding: 10px;
	width: 50px;
	height: 50px;
	font-weight: bold;
	
	border: 2px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

	a.splash-arrow:hover {
		text-decoration: none;
	}
	
	.splash-arrow img {
		margin-top: 25%;
	}




/* Navagation */
.nav {
	width: 100%;
	background-color: #d8d8d8;
	color: white;
	padding: 4px 0 4px 0;
}

<<<<<<< HEAD
	.nav ul {
		list-style: none;
		margin: 0px;
		padding: 10px;
	}
		
	.nav li {
		display: inline-block;
		padding: 0 20px 0 0;
	}
		
	.nav a, .nav a:visited {
		font-size: 1em;
		font-weight: 600;
		color: #fff;
		letter-spacing: 2px;
		text-transform: lowercase;
		border-bottom: 2px solid;
	}	
=======
.nav ul {
	list-style: none;
	margin: 0px;
	padding: 10px;
}
	
.nav li {
	display: inline-block;
	padding: 0 20px 0 0;
}
	
.nav a, .nav a:visited {
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	letter-spacing: 2px;
	text-transform: lowercase;
	border-bottom: 2px solid;

}	

>>>>>>> origin/master

/* Grid */
.col4of12{
	position: relative;
}


/* Current + Upcoming popups on home page */
#current-popups .col-4of12, #upcoming-popups .col-4of12 {
	position: relative;
}

#current-popups img, #upcoming-popups img{
	display: block;
	max-width: 100%;
	margin-bottom: 0px;
}

#current-popups .grid a{
	display: block;
}

.popup-content-wrapper{
	display: none;
	position: absolute;
	top: 0px;
	left: 0;

	height: 100%;
	width: 100%;
	margin-bottom: 0px;

	text-align: center;
}

.grid a:hover {
	opacity: 0.9;

}

/* Homepage hover content */
.col-4of12:hover .popup-content-wrapper{
	display: block;
	background:rgba(0,0,0,0.5);
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}


/*#upcoming-popups .popup-content-wrapper {
	/* Style the upcoming popups with an overlay 
	background:rgba(255,255,255,0.8);
	}
*/

.popup-vertical-align{
	position: relative;
	top: 40%;
	transform: translateY(-40%);
}


/* About and Contact */
#about, #contact {
	width: 100%;
	text-align: center;
	padding: 80px 0;

}

.about-content{
	max-width: 100px;
}

.col-6of12 img{
	width: 100%;
	height: 100%;
}
.col-8of12{
	 padding: 1em;
}

#about-us .col-6of12 .about-content {
	padding: 50px 20px 90px 30px;
}

.spaced-div{
	padding: 0 20px 0 20px;
}

button.button-block {
	display: block;
}


/* Homepage Grid Information Styling */
.dates{
	font-size: 1em;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
}

.title{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.0rem;
	color: #fff;
	letter-spacing: 0.08em;
	line-height:1em;
	text-transform: lowercase;
	padding-left: 2rem;
	padding-right: 2rem;

}

.category{
	margin-top: 0.8em;
}


/* Individual Popup Pages */
.copy{
	position: relative;
	padding: 100px 100px 100px 100px;
	top: 5%;
	transform: translateY(-10%);
}


/* About Us */

#aboutus{
	background-image: url("img/aboutpink.jpg");
	width: 100%;
	height: 100%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#aboutus img{
	position: relative;
	display: inline-block;

}

.about-us-wrapper{
	display: inline-block;
	width: 450px;

}

.about-us-wrapper{
	/* 
		Vertical Center Align Helper
		http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ 
	*/
	position: relative;
	top: 45%;
	transform: translateY(-45%);	
}


.content {
	min-height: 20px;	
	max-width: 50em;
	margin: 2px;
}


div.content1{
	max-width: 400em;
	height: 14em;
	margin: 3em 5em 0em 5em;



}

div.content1 img{
	max-width: 100%;
	max-height: 100%;
}

div.oakandfortHeader{
	background-image: url(../img/Oak-and-Fort/interior.jpg);
	width: 100%;
	height: 60%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;	
}

div.chinatownHeader {
	background-image: url("img/iloveugly.jpg");
	width: 100%;
	height: 60%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}


div.fantasticmrfoxHeader {
	background-image: url("img/feast.jpg");
	width: 100%;
	height: 60%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}


div.heyjudeHeader {
	background-image: url("img/summer3.jpg");
	width: 100%;
	height: 60%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

div.juno33Header{
	background-image: url(../img/33acresjuno/junokimx33acres.jpg);
	width: 100%;
	height: 60%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;	
}

div.indieHeader{
	background-image:url(../img/IndieSwap/mintandchopsticks.jpg);
	width: 100%;
	height: 60%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;	
}


div.kinfolkHeader{
	background-image: url("img/eattingfish.jpg");
	width: 100%;
	height: 60%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;	
}

div.warholHeader{
	background-image: url("img/warhol.jpg");
	width: 100%;
	height: 60%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;	
}

div.tattooHeader{
	background-image: url("img/joelrich.jpg");
	width: 100%;
	height: 60%;
	text-align: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;	
}


form    {
	margin:0px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}




input, #events div.col-6of12 input {
	width:375px;
	height: 29px;
	display:inline-block;
	border: 1px solid #fff;
	background-color: #ebc3b3;
	color: #fff;
	margin: 1em;

}

#events div.spaced-div input {
	width:35px;
	height: 35px;
	display:inline-block;
	border: 1px solid #fff;
	background-color: #ebc3b3;
	color: #fff;
	margin: 1em;

}


.input-wrapper {
	margin: 0.5em 0 0em 0; 
}


textarea:focus, input:focus{
    outline: 0;
}

#checkout{
	display: block;
	margin: 20px 0;
	min-height: 200px;
	padding: 20px;
	color: rgba(0,0,0,0.8);
	font-size: 1em;
	line-height: 2;
	opacity: 1;
	outline: none;
	resize: none;
	width: 460px;
}

#saved-popups div.col-6of12{
	padding: 1em;
}

#saved-popups h3{
	padding: 0;
	margin: 0;
}

#saved-popups button.button-block{
	margin: 0 0 1em 0;
	text-align: center;
	width: 150px;
	
}

#events div.col-6of12{
	padding: 1em;
}

#events h3{
	padding: 0;
	margin: 0;
}

#events div.spaced-div input{

  width: 35px;
  height: 35px;
  display: inline-block;
  border: 2px solid #fff;
  background-color: #ebc3b3;
  padding: 0 0 0 8px;
  font-size: 14px;
  margin: 8px 0 15px 0;
}

button, input[type=submit]{
	position: relative;
	display: block;
	border: 2px solid #fff;
	padding: 10px 20px;
	height: 40px;
	outline: 0 !important;
	font-size: 0.8em;
	font-color: #000;
	text-transform: uppercase;

}

button:hover{
	opacity: 0.4;
	-o-transition: 0.4s;
	-ms-transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
}


/*div.image3{
	background-image: url("img/legging.jpg");
	width: 400px;
	height: 400px;
	margin: 0;
	padding: 0;
}*/

/* trying to make a hover fade 
.fade {
   opacity: 1;
	   transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
	   }

.fade:hover {
    opacity: 0.5;
 }
*/
